<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
</head>

<body>
    <%- include("../partials/navbar.ejs") %>

        <header class="Header-About">

            <div class="container">
                <div class="Text-About">
                    <h1>About Me</h1>
                    <h3>This is what I do.</h3>
                </div>

            </div>

        </header>

        <section>
            <div class="container">
                <div class="info-About">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita nobis sit blanditiis eaque saepe
                        dignissimos voluptatum mollitia voluptas, ipsa fuga, quam id necessitatibus sequi! Quasi odit
                        blanditiis alias nisi ipsum?</p>
                        <hr>
                    <br>
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut aperiam voluptatibus atque earum
                    consequatur quas. Magni nulla, eligendi quibusdam esse quisquam consectetur aperiam quis quos iure
                    error nostrum culpa voluptas!</p> 
                    <hr>
                    <br>
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quo cum quis culpa reprehenderit
                    voluptates praesentium odit sint aspernatur inventore! Architecto omnis alias incidunt aliquid
                    laborum. Consequuntur quos nesciunt delectus.</p> 
                    <hr>
                </div>

            </div>
        </section>


        <%- include("../partials/footer.ejs") %>
</body>

</html>