<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head.ejs')%>

</head>

<body>
    <%- include ('../partials/navbar.ejs')%>
        <header class="Header-Home">

            <div class="container">
                <div class="Text-Home">
                    <h1>Clean Blog</h1>
                    <h3>A Blog Theme by Start Bootstrap</h3>
                </div>

            </div>

        </header>

        <section>
            <div class="container">
                <div class="info-Home">

                    <h2><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda magnam
                            perspiciatis vero facere alias. Accusantium magni consectetur placeat at molestias excepturi
                            obcaecati, natus sed enim, atque possimus laboriosam ullam non.
                        </a></h2>
                    <p>Posted by Start Bootstrap on September 24, 2023</p>

                    <hr>

                    <h2><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia inventore in
                            expedita quod aperiam distinctio, saepe incidunt, dignissimos pariatur repellendus sint
                            blanditiis temporibus libero a asperiores, voluptas deserunt iste cum!

                        </a></h2>
                    <p>Posted by Start Bootstrap on September 18, 2023</p>

                    <hr>

                    <h2><a href="">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt fuga nam reprehenderit
                            hic nemo natus. Sunt aut, laudantium qui tempore fugit voluptas architecto, autem neque
                            vitae ipsam, placeat exercitationem optio!

                        </a></h2>
                    <p> Posted by Start Bootstrap on August 24, 2023</p>

                    <hr>
                </div>

            </div>
        </section>

        <%- include ('../partials/footer.ejs')%>
</body>

</html>