<nav class="navbar navbar-expand-md navbar-dark bg-dark p-3">
    <div class="container">
        <a class="navbar-brand" href="/">Clean Blog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto ">

                <a class="nav-link active" href="/">HOME</a>
                <a class="nav-link" href="/about">ABOUT</a>
                <a class="nav-link" href="/SAMPLEPOST">SAMPLE POST</a>
                <a class="nav-link" href="/contact">CONTACT</a>

            </div>
        </div>
    </div>
</nav>