<!DOCTYPE html>
<html>

<head>
    <title>Contact Us Error</title>
</head>

<body>
    <h1>Contact Us Form Submission Failed</h1>
    <p>There was an issue with your form submission. Please try again or contact us by other means.</p>
</body>

</html>