<div class="bg-light rounded text-center my-5 mx-auto w-50 border shadow py-5">
    <h1>
        <%= list.title %>
    </h1>
    <p>
        <%= list.description %>
    </p>
    <hr>
    <a href="/lists" class="btn btn-sm btn-dark mt-3">Return to lists</a>
</div>